/* Font Module */



@import url(https://touchportal.github.io/discord/fonts/DiscordFont.css); /* NFLD99's Discord Font */



/* Personalization Module */



:root {
    
    /* Change the watermark! */
    --custom-watermark: "P0RT4L Studios";
    
    /* Edit the background! */
    --default-background: url(https://i.imgur.com/e3K9npA.png);
    --default-tint: 0.5;
    --profile-background: url(https://i.imgur.com/r5m8FEx.png);
    --profile-tint: 0.0;
    
}



/* Discord Module */



.wordmark-2iDDfm > svg {
    width: 0px;
} /* Removes the Discord watermark [1/2] */

.wordmark-2iDDfm:after {
    content: var(--custom-watermark);
    font-family: "Discord";
    color: lightgray !important;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    width: 3840px;
    top: 5px;
    padding-left: 5px;
} /* Adds a custom watermark [2/2] */


body > div:last-of-type {
    background: var(--default-background) fixed !important;
    background-color: rgba(0, 0, 0, var(--default-tint)) !important;
} /* Replaces background */


.app-2rEoOp,
.bg-h5JY_x,
.layer-3QrUeG {
    background-color: transparent !important;
} /* App Transparency */


.app-2rEoOp .contextMenu-HLZMGh {
    display: none;
} /* Fix right click */


.item-1Yvehc > span {
    font-weight: 500;
    box-sizing: border-box;
    margin: 2px 0;
    padding: 0 8px;
    font-size: 14px;
    line-height: 18px;
    min-height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 2px;
    color: var(--interactive-normal);
    outline: 0;
} /* Fix "Copy Selector" option [1/2] */

.item-1Yvehc:hover > span {
    cursor: pointer;
    color: var(--interactive-hover);
    background-color: var(--background-tertiary);
} /* Fix "Copy Selector" option [2/2] */


.titleBar-AC4pGV {
    background: rgba(0, 0, 0, var(--default-tint)) !important;
    margin-top: 0;
    padding-top: 4px;
    height: 20px;
} /* Transparency Shader [1/2] */

.layers-3iHuyZ {
  background: rgba(0, 0, 0, var(--default-tint)) !important;
} /* Transparency Shader [2/2] */



/* Server List Module */



.guilds-1SWlCJ,
.guilds-1SWlCJ .systemPad-3UxEGl,
.container-PNkimc {
    background-color: transparent !important;
} /* Transparency */


.homeIcon-tEMBK1 {
    display: none;
} /* Remove original home icon [1/4] */

.childWrapper-anI2G9 {
    background: url("https://i.imgur.com/f7XDeuN.png") no-repeat;
    background-size: 32px 32px;
    background-position: center;
} /* Replace unselected icon [2/4] */

.selected-bZ3Lue .childWrapper-anI2G9 {
    background: url("https://i.imgur.com/f7XDeuN.png") no-repeat;
    background-size: 35px 35px;
    background-position: center;
} /* Replace selected icon [3/4] */

.acronym-2mOFsV {
    background: transparent !important;
} /* Fix for text server icons [4/4] */



/* Channel List/Friends List Module */



.sidebar-2K8pFh,
.privateChannels-1nO12o,
.privateChannels-1nO12o .systemPad-3UxEGl {
    background-color: transparent !important;
} /* Transparency */


.base-3dtUhz {
    border-radius: 0;
} /* Remove Borders - Doesn't seem to work [v2.0] */


.name-IbjUBS {
    color: #ffffff;
} /* Increase visibility and change font for channel headers [1/4] */

.modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg {
    color: #d3d3d3 !important;
} /* Decrease visibility for unread channels [2/4] */

.scroller-2wx7Hm {
    opacity: 0.5;
    transition: 0.5s;
} /* Reduce opacity and change font for channel names [3/4] */

.scroller-2wx7Hm:hover {
    opacity: 1;
} /* Brighten on hover [4/4] */


.modeSelected-1zApJ_ .name-3_Dsmg {
    color: #ffe066 !important;
} /* Added gold highlight for selected channel [1/3] */

.content-3at_AU {
    background: transparent !important;
} /* Selected channels have no background [2/3] */

.content-3at_AU:hover {
    margin-left: 10px;
} /* Channel bump on hover [3/3] */


.input-1Rv96N {
    opacity: 0.7;
    transition: 0.3s;
} /* Darken search text [1/2] */

.searchBar-6Kv8R2:hover .input-1Rv96N {
    opacity: 1;
} /* Brighten search text on hover [2/2] */


.privateChannels-1nO12o .header-zu8eWb {
    color: #ffe066;
} /* Changes the color for the friends list header */


.channel-2QD9_O .layout-2DM8Md {
    background: transparent !important;
    border-radius: 0;
} /* Remove background [1/3] */

.channel-2QD9_O:hover .name-uJV0GL {
    color: #f1f1f1;
} /* White highlight on hover [2/3] */

.selected-aXhQR6 .name-uJV0GL {
    color: #ffe066 !important;
} /* Gold highlight when selected [3/3] */


.children-gzQq2t {
    opacity: 0;
    transform: translateX(8px);
    transition: 0.5s;
} /* Reposition close chat button [1/2] */

.channel-2QD9_O:hover .children-gzQq2t {
    opacity: 1;
    transform: translateX(-2px);
} /* Animate close chat button on hover [2/2] */


.panels-j1Uci_ {
    background: var(--profile-background) !important;
    border: 2px outset #ffe066;
    border-radius: 0;
} /* Reworked lower profile tab [1/2] */

.container-3baos1 {
    background-color: rgba(50, 50, 50, var(--profile-tint)) !important;
} /* Tint for lower profile tab [2/2] */



/* Messages Module */



.title-3qD0b-,
.content-yTz4x3,
.chatContent-a9vAAp .systemPad-3UxEGl,
.chat-3bRxxu,
.chat-3bRxxu form,
.messagesWrapper-3lZDfY,
.typing-2GQL18 {
    background-color: transparent !important;
} /* Transparency */


.containerCozy-jafyvG .username-_4ZSMR {
    position: relative;
    padding: 2px 10px;
} /* Changes the font and spacing for chat names */


.containerCozy-jafyvG .username-_4ZSMR::after {
    content: "";
    background-image: linear-gradient(to right, transparent, currentColor, transparent) !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.15;
    border-radius: 100px;
    z-index: -1;
    background-size: 200% 200%;
    animation: usernameFlair 5s infinite linear !important;
} /* Add username flair [1/2] */

@keyframes usernameFlair { 
    0% {
        background-position: 250% 250%;
    }
    100% {
        background-position: -150% -150%;
    }
} /* Animate flair [2/2] */


.markup-2BOw-j {
    margin-top: 7px;
} /* Move chat down to make space for the new nametags [1/2] */

.markup-2BOw-j > pre {
    margin-bottom: 7px;
} /* Move code blocks up to make space for the new nametags [2/2] */


.css .hljs-tag,
.css .hljs-important,
.css .hljs-at_rule,
.css .hljs-keyword {
	color: #f92672 !important;
} /* Tweak code blocks [1/6] */

.css .hljs-class,
.css .hljs-id {
	color: #a6e300 !important;
} /* Tweak code blocks [2/6] */

.css .hljs-value,
.css .hljs-hexcolor,
.css .hljs-number,
.css .hljs-function {
	color: rgba(255, 255, 255, 0.8) !important;
} /* Tweak code blocks [3/6] */

.css .hljs-attribute {
	color: #82d4e5 !important;
} /* Tweak code blocks [4/6] */

.css .hljs-comment {
	color: #686545 !important;
} /* Tweak code blocks [5/6] */

.css .hljs-pseudo {
	color: #ffffff !important;
} /* Tweak code blocks [6/6] */


.wrapper-3WhCwL {
    position: relative;
    padding: 2px 10px;
    border-radius: 100px;
}  /* Reworked mentions and channel tags [1/2] */

.isMentioned-N-h9aa {
    margin: 7px 0 0 0;
    padding: 1px 0 10px 7px;
    background: linear-gradient(to right, rgb(135, 90, 0), 1%, transparent) !important;
}  /* Reworked highlighted mentions [2/2] */


.chat-3bRxxu .headerCozyMeta-rdohGq {
    width: 100%;
} /* Repositioning the timestamp [1/3] */

.chat-3bRxxu .timestampCozy-2hLAPV, .chat-3bRxxu .timestamp-1E3uAL {
    float: right;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(7px);
} /* Timestamp animation [2/3] */

.container-1YxwTf:hover .timestampCozy-2hLAPV {
    opacity: 1;
    transform: translateX(-21px);
} /* Timestamp animation [3/3] */


.container-1YxwTf .buttonContainer-KtQ8wc {
    margin-right: 12px;
} /* Tweaked the more actions button */


.children-19S4PO::after {
    opacity: 0;
} /* Remove random bit */


.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border: none;
}  /* Remove scroller track [1/2] */

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}  /* Remove scroller thumb [2/2] */


.divider-3gKybi {
    opacity: 0.7;
} /* Reduce visibility of date divider [1/3] */

.dividerRed-MKoLlr {
    opacity: 1;
} /* Fix visibility of unread divider [2/3] */

.theme-dark .dividerEnabled-2TTlcf {
    border: 1px rgb(255, 255, 255, 0.02) solid;
} /* Reduce visibility of chat message divider [3/3] */


.channelTextAreaDisabled-rZtG8r {
    padding: 0;
} /* Remove text input if disabled [1/2] */

.channelTextAreaDisabled-rZtG8r .innerDisabled-2mc-iF {
    display: none;
} /* Remove text input if disabled [2/2] */


.channelTextArea-1LDbYG,
.channelTextArea-rNsIhG {
    background: transparent !important;
    padding-top: 0;
    margin-top: 15px;
    border-top: none;
    border-radius: 100px;
} /* Reworked text input [1/5] */

.inner-zqa7da {
    background: var(--default-background) fixed !important;
    padding-left: 2px;
    border-radius: 25px;
    box-shadow: 0 0 10px #111111;
} /* Tweaked text input overlay [2/5] */

.buttons-205you button[aria-label="Send a gift"] {
    display: none;
} /* Remove Nitro Gift button [3/5] */

.inner-zqa7da textarea {
    margin: 5px 2px 2px 0;
} /* Fix placeholder text position [4/5] */

.inner-zqa7da .flex-1xMQg5 button[aria-label="Upload a File"],
.inner-zqa7da .buttons-205you .buttonContainer-21MN7J button[aria-label="Open GIF picker"],
.inner-zqa7da .buttons-205you button[aria-label="Select emoji"] {
    height: 50px;
} /* Tweak existing buttons [5/5] */


.container-3ISnnM {
    background: var(--default-background) fixed !important;
} /* Tweak GIF window [1/2] */

.container-3ISnnM .header-1TOWci,
.container-3ISnnM .content-ySCtCx {
    background: transparent !important;
} /* GIF background transparency [2/2] */


.searchBar-3dMhjb {
    width: 70px;
    padding-right: 23px;
    background-color: #333333 !important;
    border-radius: 7px;
    transition: 0.5s;
} /* Change width of searchbar [1/6] */

.searchBar-3dMhjb:hover {
    width: 200px;
    padding: 0 5px;
} /* Change width of searchbar on hover [2/6] */

.open-6_Y_aH .searchBar-3dMhjb {
    width: 200px;
    padding: 0 5px;
} /* Fix width of opened searchbar [3/6] */

.DraftEditor-root {
    opacity: 0;
    transition: 0.4s;
} /* Hide search text [4/6] */

.searchBar-3dMhjb:hover .DraftEditor-root {
    opacity: 1;
} /* Show search text on hover [5/6] */

.open-6_Y_aH .DraftEditor-root {
    opacity: 1;
} /* Show search text when opened [6/6] */


.container-1YxwTf .inner-zqa7da {
    border-radius: 7px;
} /* Message edit box */



/* Members List Module */



.members-1998pB,
.members-1998pB .layout-2DM8Md {
    background-color: transparent !important;
    margin-left: 5px;
} /* Transparency */


.members-1998pB,
.membersWrap-2h-GB4 {
    width: 100px !important;
    min-width: unset !important;
    transition: 0.7s;
} /* Makes the list smaller [1/10] */

.membersWrap-2h-GB4:hover .members-1998pB,
.membersWrap-2h-GB4:hover {
    width: 220px !important;
} /* Enlarges the list on hover [2/10] */

.membersGroup-v9BXpm {
    width: 90px;
    height: auto;
    white-space: normal;
    text-align: center;
    transition: 0.6s;
    transform: scale(.7) translateX(-20%);
    box-sizing: content-box;
    line-height: 20px;
    margin: 5%;
    padding: 1% 0;
} /* Resizes role names to fit the smaller list [3/10] */

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    transform: scale(1) translateX(-10%);
    width: 220px;
    padding: 1% 0;
} /* Resets the size on hover [4/10] */

.membersWrap-2h-GB4 .content-3QAtGj {
    opacity: 0;
    transition: 0.5s;
} /* Hides names when small [5/10] */

.membersWrap-2h-GB4:hover .content-3QAtGj {
    opacity: 1;
} /* Shows names on hover [6/10] */

.member-3W1lQa {
    margin: 0 0 0 27px;
    padding: 3px 0;
} /* Shows names on hover [7/10] */

.member-3W1lQa .layout-2DM8Md:hover {
    background: var(--default-background) fixed !important;
    border-radius: 15px 0 0 15px;
} /* Shows names on hover [8/10] */

.membersWrap-2h-GB4 .avatar-3uk_u9 {
    margin: 0 10px 0 0;
    transform: scale(1.25);
    transition: 0.5s;
} /* Resizes members to fit the smaller list [9/10] */

.membersWrap-2h-GB4:hover .avatar-3uk_u9 {
    transform: scale(1);
} /* Resets the size on hover [10/10] */



/* Activity Tab Module */



.activityFeed-1C0EmJ,
.container-1r6BKw {
    background-color: transparent !important;
} /* Transparency */



/* Library Tab Module */



.root-1BQpZw,
.gameLibrary-TTDw4Y,
.stickyHeader-r2k9DK,
.gameLibrary-TTDw4Y .systemPad-3UxEGl {
    background-color: transparent !important;
} /* Transparency */


.topPill-30KHOu .item-PXvHYJ {
    border-radius: 100px !important;
    padding: 3px 12px !important;
    margin: 0 2px;
} /* Change header */


.actionButtonSize-1Znp1q {
    background: var(--default-background) fixed !important;
    border-radius: 100px;
} /* Change button background [1/2] */

.rowWrapper-2fB6P0:hover .actionButtonSize-1Znp1q {
    border: 3px outset #ffe066;
    color: #ffffff;
} /* Change button background [2/2] */


.rowWrapper-2fB6P0, .rowBackground-3MeNoN {
    border-radius: 100px;
    padding: 0 2px 0 5px;
    margin: 0 7px 0 7px;
} /* Change row background */


.libraryFilter-31ZUa2 {
    width: 51px;
    transition: 0.5s;
} /* Change width of filter [1/5] */

.searchBar-TUoVPN {
    background: var(--default-background) fixed !important;
    height: 24px;
    padding: 0 5px;
    transition: 0.5s;
} /* Reposition filter input [2/5] */

.libraryFilter-31ZUa2:hover,
.focused-2eiV0o {
    width: 180px !important;
} /* Change width on focus [3/5] */

.iconLayout-3OgqU3 {
    opacity: 0;
    transition: 0.5s;
} /* Hide search icon [4/5] */

.libraryFilter-31ZUa2:hover .iconLayout-3OgqU3,
.focused-2eiV0o .iconLayout-3OgqU3 {
    opacity: 1;
}  /* Show search icon on focus [5/5] */



/* Nitro Tab Module */



.applicationStore-1pNvnv,
.applicationStore-1pNvnv .systemPad-3UxEGl {
    background-color: transparent !important;
} /* Transparency */


.browseSearch-e9jF-f {
    width: 62px;
    transition: 0.5s;
} /* Change width of search [1/5] */

.searchBar-s2JxlI {
    background: var(--default-background) fixed !important;
    height: 24px;
    padding: 0 5px;
    transition: 0.5s;
} /* Reposition search input [2/5] */

.browseSearch-e9jF-f:hover,
.focused-20l6Zp {
    width: 180px !important;
} /* Change width on focus [3/5] */

.iconLayout-3OgqU3 {
    opacity: 0;
    transition: 0.5s;
} /* Hide search icon [4/5] */

.browseSearch-e9jF-f:hover .iconLayout-3OgqU3,
.focused-20l6Zp .iconLayout-3OgqU3 {
    opacity: 1;
}  /* Show search icon on focus [5/5] */



/* Friends Tab Module */



.container-3gCOGc,
.friendsTable-133bsv .systemPad-3UxEGl,
.body-3iLsc4 .systemPad-3UxEGl {
    background-color: transparent !important;
} /* Transparency */


.popouts-2bnG9Z .popout-2iWAc- {
    border-radius: 20px;
} /* Tweaked all popups [1/9] */

.userPopout-3XzG_A {
    background: var(--default-background) fixed !important;
    border-radius: 20px;
    width: 250px;
} /* Reworked "Profile" popup window [2/9] */

.headerNormal-T_seeN,
.headerPlaying-j0WQBV {
    background: var(--default-background) fixed !important;
} /* Fix for header background [3/9] */

.headerTop-3C2Zn0 {
    background: var(--profile-background) center/cover repeat;
    border: 3px outset #ffe066;
    width: 224px;
    border-radius: 20px;
} /* Reworked header [4/9] */

.activityUserPopout-2yItg2 {
    background: transparent !important;
} /* Reworked activity tab [5/9] */

.body-3iLsc4 {
    background: transparent !important;
} /* Reworked body [6/9] */

.footer-1fjuF6 {
    background: transparent !important;
} /* Reworked footer [7/9] */

.footer-1fjuF6 .quickMessage-2XpSaN {
    background: transparent !important;
    border: 1px solid #ffe066;
    border-radius: 12px;
    margin: 3px 0 2px 0;
} /* Adjust quick message box [8/9] */

.footer-1fjuF6 .protip-YaFfgO {
    display: none;
} /* Remove tip [9/9] */




.role-2irmRk {
    border-radius: 0;
    border-width: 2px;
} /* Changed role roundness [1/3] */

.roleCircle-3xAZ1j {
    display: none;
} /* Removes role circle [2/3] */

.roleName-32vpEy {
    margin: 2px 3px;
} /* Tweaked role position [3/3] */



/* Avatar Replacer Module */

:root {
    --SD-roundness: 12px; /* Must be with px */
    --green: #43b581;
    --yellow: #faa61a;
    --red: #f04747;
    --purple: #593695;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) *,
#app-mount .wrapper-3t9DeA * {
    overflow: visible;
    mask: none !important;
    -webkit-mask: none !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) .dots-3Bkt3k,
#app-mount .wrapper-3t9DeA .dots-3Bkt3k {
    position: relative;
    z-index: 2;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) .dots-3Bkt3k [cx="2.5"],
#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="2.5"] {
    cy: -8 !important;
    cx: -8.5 !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) .dots-3Bkt3k [cx="8.75"],
#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="8.75"] {
    cy: -8 !important;
    cx: -2.25 !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) .dots-3Bkt3k [cx="15"],
#app-mount .wrapper-3t9DeA .dots-3Bkt3k [cx="15"] {
    cy: -8 !important;
    cx: 4 !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) .mask-1l8v16>rect[x="22"],
#app-mount .wrapper-3t9DeA .mask-1l8v16>rect[x="22"] {
    x: 0 !important;
    y: 0 !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) .cursorDefault-dsQJ1n rect,
#app-mount .wrapper-3t9DeA .cursorDefault-dsQJ1n rect {
    x: -49 !important;
    y: -53 !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) .pointerEvents-2zdfdO[x="14.5"],
#app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
    fill: rgba(0, 0, 0, 0.5) !important;
    width: 30px !important;
    height: 30px !important;
    x: 1 !important;
    y: 1 !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"])[style*="width: 80px;"] img,
#app-mount .wrapper-3t9DeA[style*="width: 80px;"] img {
    clip-path: circle(calc(39px - var(--rs-large-spacing)));
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"])[style*="width: 80px;"] rect,
#app-mount .wrapper-3t9DeA[style*="width: 80px;"] rect {
    width: 80px !important;
    height: 80px !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"])[style*="width: 80px;"] foreignObject[mask*="mobile"]:after,
#app-mount .wrapper-3t9DeA[style*="width: 80px;"] foreignObject[mask*="mobile"]:after {
    -webkit-mask-size: 32px;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"])[style*="width: 32px;"] img,
#app-mount .wrapper-3t9DeA[style*="width: 32px;"] img {
    clip-path: circle(calc(15px - var(--rs-small-spacing)));
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"])[style*="width: 32px;"] rect,
#app-mount .wrapper-3t9DeA[style*="width: 32px;"] rect {
    width: 32px;
    height: 32px;
    overflow: visible;
    x: -14.5 !important;
    y: -17 !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) img,
#app-mount .wrapper-3t9DeA img {
    border-radius: var(--SD-roundness) !important;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) foreignObject[mask*="mobile"]:before,
#app-mount .wrapper-3t9DeA foreignObject[mask*="mobile"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--SD-roundness);
    z-index: 1;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) foreignObject[mask*="mobile"]:after,
#app-mount .wrapper-3t9DeA foreignObject[mask*="mobile"]:after {
    content: "";
    -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4gICAgPHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMzQgMi4wMkwxNCAyYy0yLjIxIDAtNCAxLjc5LTQgNHYzNmMwIDIuMjEgMS43OSA0IDQgNGgyMGMyLjIxIDAgNC0xLjc5IDQtNFY2YzAtMi4yMS0xLjc5LTMuOTgtNC0zLjk4ek0zNCAzOEgxNFYxMGgyMHYyOHoiLz48L3N2Zz4=");
    -webkit-mask-size: 20px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--green);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect,
#app-mount .wrapper-3t9DeA rect {
    x: 0 !important;
    y: 0 !important;
    width: 100%;
    height: 100%;
    rx: var(--SD-roundness) !important;
    ry: var(--SD-roundness) !important;
    fill: transparent;
    stroke-width: 2px;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="#43b581"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="rgba(67, 181, 129, 1)"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[mask*="online"],
#app-mount .wrapper-3t9DeA rect[fill="#43b581"],
#app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"],
#app-mount .wrapper-3t9DeA rect[mask*="online"] {
    stroke: var(--green);
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="#faa61a"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="rgba(250, 166, 26, 1)"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[mask*="idle"],
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"],
#app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"],
#app-mount .wrapper-3t9DeA rect[mask*="idle"] {
    stroke: var(--yellow);
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="#f04747"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="rgba(240, 71, 71, 1)"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[mask*="dnd"],
#app-mount .wrapper-3t9DeA rect[fill="#f04747"],
#app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"],
#app-mount .wrapper-3t9DeA rect[mask*="dnd"] {
    stroke: var(--red);
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="#593695"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[mask*="streaming"],
#app-mount .wrapper-3t9DeA rect[fill="#593695"],
#app-mount .wrapper-3t9DeA rect[mask*="streaming"] {
    stroke: var(--purple);
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="#747f8d"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[mask*="offline"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[mask*="ivisible"],
#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[fill="rgba(116, 127, 141, 1)"],
#app-mount .wrapper-3t9DeA rect[fill="#747f8d"],
#app-mount .wrapper-3t9DeA rect[mask*="offline"],
#app-mount .wrapper-3t9DeA rect[mask*="ivisible"],
#app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"] {
    stroke: #747f8d;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[x="16"],
#app-mount .wrapper-3t9DeA rect[x="16"] {
    width: 24px;
    height: 24px;
}

#app-mount [role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect[x="28"],
#app-mount .wrapper-3t9DeA rect[x="28"] {
    width: 40px;
    height: 40px;
    overflow: visible;
}

.avatarHintInner-Dco91E {
    display: none;
}